obj/
debug/
*.suo
*.user
Voxalia.pdb
ModelToVMDConverter/bin/Release/*.pdb
SkeletalAnimationExtractor/bin/Release/*.pdb
*.exe
*.pak
*.str
clientdefaultsettings.cfg
serverdefaultsettings.cfg
x64/
models/
fonts/
sounds/
textures/
animations/
saves/
structures/
.vs/
*.psess
*.userprefs
VoxaliaServerSamplePlugin/bin/Release/
Voxalia/bin/Release/data/plugins/
Voxalia/bin/Release/*.pdb
Voxalia/bin/Release/*.xml
Voxalia/bin/Release/*.dll
!Voxalia/bin/Release/opus.dll
Voxalia/bin/Release/bin/
*.plr
logindata.dat
*.tmp
*.mdb
